In [1]:
import numpy as np
import pandas as pd

In [2]:
file = "/home/arthur/Documents/projects/Recommendation-Project/ml-latest/movies.csv"

In [3]:
data = pd.read_csv(file)

In [4]:
data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
clean_data = pd.DataFrame(columns=["movieId", "title", "genre"])

In [6]:
clean_data

Empty DataFrame
Columns: [movieId, title, genre]
Index: []

In [7]:
count = 0

In [8]:
for index, row in data.iterrows():
    genres = row['genres'].split('|')
    for genre in genres:
        clean_data.loc[count] = [row['movieId'], row['title'], genre]
        count +=1

In [9]:
clean_data

       movieId                                    title               genre
0            1                         Toy Story (1995)           Adventure
1            1                         Toy Story (1995)           Animation
2            1                         Toy Story (1995)            Children
3            1                         Toy Story (1995)              Comedy
4            1                         Toy Story (1995)             Fantasy
5            2                           Jumanji (1995)           Adventure
6            2                           Jumanji (1995)            Children
7            2                           Jumanji (1995)             Fantasy
8            3                  Grumpier Old Men (1995)              Comedy
9            3                  Grumpier Old Men (1995)             Romance
10           4                 Waiting to Exhale (1995)              Comedy
11           4                 Waiting to Exhale (1995)               Drama
12           4                 Waiting to Exhale (1995)             Romance
13           5       Father of the Bride Part II (1995)              Comedy
14           6                              Heat (1995)              Action
15           6                              Heat (1995)               Crime
16           6                              Heat (1995)            Thriller
17           7                           Sabrina (1995)              Comedy
18           7                           Sabrina (1995)             Romance
19           8                      Tom and Huck (1995)           Adventure
20           8                      Tom and Huck (1995)            Children
21           9                      Sudden Death (1995)              Action
22          10                         GoldenEye (1995)              Action
23          10                         GoldenEye (1995)           Adventure
24          10                         GoldenEye (1995)            Thriller
25          11           American President, The (1995)              Comedy
26          11           American President, The (1995)               Drama
27          11           American President, The (1995)             Romance
28          12       Dracula: Dead and Loving It (1995)              Comedy
29          12       Dracula: Dead and Loving It (1995)              Horror
...        ...                                      ...                 ...
106077  193853                           Wu Kong (2017)              Action
106078  193853                           Wu Kong (2017)           Adventure
106079  193853                           Wu Kong (2017)             Fantasy
106080  193855        Spring Night, Summer Night (1967)  (no genres listed)
106081  193857                   Beautiful Women (2005)               Drama
106082  193859                   You, Me and Him (2018)              Comedy
106083  193861                      Cold Harvest (1998)              Action
106084  193861                      Cold Harvest (1998)              Sci-Fi
106085  193861                      Cold Harvest (1998)            Thriller
106086  193863                 Cocaine Godmother (2017)         Documentary
106087  193863                 Cocaine Godmother (2017)               Drama
106088  193864                No somos de piedra (1968)              Comedy
106089  193866             Tales from the Hood 2 (2018)              Horror
106090  193868              Dos tipos de cuidado (1953)              Comedy
106091  193868              Dos tipos de cuidado (1953)               Drama
106092  193868              Dos tipos de cuidado (1953)             Romance
106093  193868              Dos tipos de cuidado (1953)             Western
106094  193870                Isabelle Eberhardt (1991)  (no genres listed)
106095  193872                   Room Laundering (2018)               Drama
106096  193874              Blondie's Big Moment (1947)              Comedy
106097  193876                  The Great Glinka (1946)  (no genres listed)
106098  193878  Les tribulations d'une caissière (2011)              Comedy
106099  193880                 Her Name Was Mumu (2016)               Drama
106100  193882                             Flora (2017)           Adventure
106101  193882                             Flora (2017)               Drama
106102  193882                             Flora (2017)              Horror
106103  193882                             Flora (2017)              Sci-Fi
106104  193886                              Leal (2018)              Action
106105  193886                              Leal (2018)               Crime
106106  193886                              Leal (2018)               Drama

[106107 rows x 3 columns]

In [ ]:
#clean_data = clean_data.drop(clean_data.index[[0,1,2,3,4]])

In [10]:
clean_data.to_csv('./clean_movies.csv')

Now time to create the dictionary of clusters

In [11]:
movies = clean_data.title.unique()

In [12]:
movies.size

58020

In [13]:
clusters = {}

In [14]:
clean_data[clean_data['title'] == 'Toy Story (1995)']

  movieId             title      genre
0       1  Toy Story (1995)  Adventure
1       1  Toy Story (1995)  Animation
2       1  Toy Story (1995)   Children
3       1  Toy Story (1995)     Comedy
4       1  Toy Story (1995)    Fantasy

In [17]:
from tqdm import tqdm

In [19]:
for movie in tqdm(movies):
    temp_dico = {}
    temp_data = clean_data[clean_data['title'] == movie]
    size = temp_data.genre.unique().size  
    for index in range(0,size):
        genre = temp_data.iloc[index]['genre']
        temp_dico[genre] = 1 / size
    clusters[movie] = temp_dico

100%|██████████| 58020/58020 [07:33<00:00, 128.04it/s]

In [20]:
temp_dico

{'Action': 0.3333333333333333,
 'Crime': 0.3333333333333333,
 'Drama': 0.3333333333333333}

In [23]:
clusters['Her Name Was Mumu (2016)']

{'Drama': 1.0}

In [26]:
membership = clean_data.genre.unique()

In [28]:
membership

array(['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Mystery', 'Sci-Fi', 'IMAX', 'Documentary', 'War', 'Musical',
       'Western', 'Film-Noir', '(no genres listed)'], dtype=object)

In [30]:
membership.size

20

In [31]:
type(membership)

numpy.ndarray

In [35]:
print("Number of clusters: " + str(membership.size))

Number of clusters: 20

In [41]:

for cluster in tqdm(membership):
    total_item = clean_data[clean_data['genre'] == cluster].genre.size
    print(cluster + " has "+ str(total_item) + " items")

100%|██████████| 20/20 [00:00<00:00, 99.99it/s]

Adventure has 4067 items
Animation has 2663 items
Children has 2749 items
Comedy has 15956 items
Fantasy has 2637 items
Romance has 7412 items
Drama has 24144 items
Action has 7130 items
Crime has 5105 items
Thriller has 8216 items
Horror has 5555 items
Mystery has 2773 items
Sci-Fi has 3444 items
IMAX has 197 items
Documentary has 5118 items
War has 1820 items
Musical has 1113 items
Western has 1378 items
Film-Noir has 364 items
(no genres listed) has 4266 items